<div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="background: grey;"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="background: grey;"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="background: grey;"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item item1">
            <!-- <canvas id="bar-chart-sample" height="80"></canvas> -->
            <canvas id="canvas0" height="80"></canvas>
            <span>aaaaa :: {{index}}</span>
        </div>
        <div class="item item2">
            <!-- <canvas id="line-chart-sample" height="80"></canvas> -->
            <canvas id="canvas1" height="80">{{ chart1 }}</canvas>
            <span>bbbb :: {{index}}</span>
        </div>
        <div class="item item3">
            <!-- <canvas id="line-chart-sample" height="80"></canvas> -->
            <canvas id="canvas2" height="80">{{ chart2 }}</canvas>
            <span>cccc :: {{index}}</span>
        </div>
    </div>
    <hr class="transition-timer-carousel-progress-bar" />
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!--  -->

<!-- <ngb-carousel *ngIf="images" style="background: grey; align-self: center;">
    <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <canvas id="canvas" height="80"></canvas>
        <div class="carousel-caption">
            <h3>Fourth slide label</h3>
            <p>Fourth Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel> -->

<!--  -->

<div>
    <h1>Hello, Welcome to Charts</h1>

    <div *ngIf="chart">
        <canvas id="canvas" height="80">{{ chart }}</canvas>
    </div>
</div>

<!-- 
    npm install rxjs
    npm install rxjs-compat
 -->